# Exclude only what's absolutely necessary for Docker builds
.git/
.gitignore
.DS_Store
*.pyc
__pycache__/
venv/
env/
.venv/
node_modules/
*.log
*.sqlite*
*.backup
*.old
.cache/
develop-eggs/
dist/
bin/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/
*.code-workspace
.bash_history
.coverage
htmlcov/
js_tmp/
dev/
dev-db/
data/
env/
*.mo
messages.ts
api.yaml
maintenance_mode_state.txt
*.tar.gz 